.image-wrapper-main
{
    width: 100%;
    height: 200px;
}

.image-wrapper-main img
{
    width: 100%;
    height: 100%;
}

.one_vehicle
{
    border: 1px solid gray;
}

.title-block
{
    height: 80px;
}