{% extends 'base.html.twig' %}

{% block title %}New FavoriteVehicle{% endblock %}

{% block body %}
    <h1>Create new FavoriteVehicle</h1>

    {{ include('favorite_vehicle/_form.html.twig') }}

    <a href="{{ path('favorite_vehicle_index') }}">back to list</a>
{% endblock %}
