{% extends 'base.html.twig' %}

{% block title %}Add additional equipment{% endblock %}

{% block body %}
    <h1 class="text-center p-3">Add additional equipment for vehicle </h1>

    <a class="p-3" href="{{ path('vehicle_index') }}"><i class="fas fa-arrow-circle-left"></i> Back to list</a>



    <a class="btn btn-success" href="#">Save</a>

{% endblock %}
