{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}

<div class="text-center">
    <h1 class="text-center">Hello {{ app.user.email }}</h1>
    <h6>Here is placed list of cars</h6>
    <div class="vehicle">

        {% for vehicle in vehicles %}

            <p>{{ vehicle.mark }}</p>

        {% endfor %}
    </div>
</div>
{% endblock %}
