<h1>Hey administrator!</h1>

<p>
    You got received new inquirie from user {{ username }}.
</p>

<p>Content:</p>
<p>"{{ content }}"</p>
<p>
    <a href="http://car-shop.loc/inquirie/">Check all available inquiries here</a><br>
    (ps. maybe other administrators already answered on this inquirie)
</p>